---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";
const [...posts] = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
const pageTitle = "Blog";
---

<Layout title={pageTitle}>
  <div class="inline bg-slate-50">
  <h1 class="inline">Posts</h1>

  <input
  class="blog-search"
    type="text"
    id="searchInput"
    placeholder="search..."
    oninput="handleSearch(event)"
  />
</div>
  <script>
    let blogIndex: any[];

    async function fetchBlogIndex() {
      const response = await fetch('/api/blog-index.json');
      const data = await response.json();
      blogIndex = data;
    }

    function handleSearch(event: any) {
      const query = event.target.value.trim().toLowerCase();

      const filteredPosts = blogIndex.filter((post) => {
        return (
          post.title.toLowerCase().includes(query) ||
          post.description.toLowerCase().includes(query) ||
          post.author.toLowerCase().includes(query) ||
          post.pubDate.toLowerCase().includes(query) ||
          post.tags.toLowerCase().includes(query)
        );
      });
    }
  </script>
  {
    posts.map((post: any) => {
      return (
        <BlogCard
          id={post.id}
          title={post.data.title}
          author={post.data.author}
          description={post.data.description}
          pubDate={post.data.pubDate}
          tags={post.data.tags}
        />
      );
    })
  }
</Layout>
