---
const { id, title, author, description, pubDate, tags } = Astro.props
const date = new Date(pubDate).toLocaleDateString("en-AU", {
	year: "numeric",
	month: "short",
	day: "numeric",
});
---

<div class="blog-card">
  <a href={`/blog/${id}`}>
    <div class="size-full">
      <h3 class="inline">{title}</h3>
      <small class="inline">{tags.map((tag: any) => {
        return (`#${tag} `)
      })}
      </small>
      <small class="blog-author-date">{author} - {date}</small>
      <p class="blog-description">{description}</p>
    </div>
  </a>
</div>
