---
const { id, title, author, description, pubDate, tags } = Astro.props
const date = new Date(pubDate).toLocaleDateString("en-AU", {
	year: "numeric",
	month: "short",
	day: "numeric",
});
---

<div class="blog-card">
  <a href={`/blog/${id}`}>
    <div class="size-full">
      <h3 class="md:inline">{title}</h3>
      {tags.map((tag: any) => {
        const href = `/blog/${tag}`
        return (<a href={href}> <small class="hover:bg-slate-500 px-1">#{tag}</small></a>)
      })}
      <small class="blog-author-date">{author} - {date}</small>
      <p class="blog-description">{description}</p>
    </div>
  </a>
</div>
